In [119]:
import pandas as pd
import numpy as np
data = pd.read_csv("reviews.csv")
df = pd.DataFrame(data)
df

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
1       302      202.0           3     4.0
2       303      203.0           2     3.0
3       304      204.0           5     NaN
4       305        NaN           4     5.0

In [120]:
df.columns

Index(['ReviewID', 'ProductID', 'CustomerID', 'Rating'], dtype='object')

In [121]:
df.head()

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
1       302      202.0           3     4.0
2       303      203.0           2     3.0
3       304      204.0           5     NaN
4       305        NaN           4     5.0

In [122]:
df.tail()

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
1       302      202.0           3     4.0
2       303      203.0           2     3.0
3       304      204.0           5     NaN
4       305        NaN           4     5.0

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    5 non-null      int64
 1   ProductID   4 non-null      float64
 2   CustomerID  5 non-null      int64
 3   Rating      4 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 292.0 bytes

In [124]:
df.describe()

         ReviewID   ProductID  CustomerID    Rating
count    5.000000    4.000000    5.000000  4.000000
mean   303.000000  202.500000    3.000000  4.250000
std      1.581139    1.290994    1.581139  0.957427
min    301.000000  201.000000    1.000000  3.000000
25%    302.000000  201.750000    2.000000  3.750000
50%    303.000000  202.500000    3.000000  4.500000
75%    304.000000  203.250000    4.000000  5.000000
max    305.000000  204.000000    5.000000  5.000000

In [125]:
np.shape(df)

(5, 4)

In [126]:
df['Rating'].fillna(df['Rating'], inplace=True)
df

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
1       302      202.0           3     4.0
2       303      203.0           2     3.0
3       304      204.0           5     NaN
4       305        NaN           4     5.0

In [127]:
type[df['ReviewID']]

type[0    301
1    302
2    303
3    304
4    305
Name: ReviewID, dtype: int64]

In [128]:
df[['CustomerID','Rating']]

   CustomerID  Rating
0           1     5.0
1           3     4.0
2           2     3.0
3           5     NaN
4           4     5.0

In [129]:
df['CustomerID'][df['Rating']==5]

0    1
4    4
Name: CustomerID, dtype: int64

In [130]:
np.median(df['Rating'])

nan

In [131]:
df['Rating'].min(), df['Rating'].max()

(3.0, 5.0)

In [132]:
df['Rating'].mean()

4.25

In [133]:
df[df['Rating'] > 4]

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
4       305        NaN           4     5.0

In [134]:
df.sort_values('Rating', ascending=False)

   ReviewID  ProductID  CustomerID  Rating
0       301      201.0           1     5.0
4       305        NaN           4     5.0
1       302      202.0           3     4.0
2       303      203.0           2     3.0
3       304      204.0           5     NaN

In [135]:
df['Rating'].agg(['sum', 'mean', 'min', 'max'])

sum     17.00
mean     4.25
min      3.00
max      5.00
Name: Rating, dtype: float64

In [138]:
df2 = pd.DataFrame({'ProductID': [201, 202, 203], 'ProductName': ['Laptop', 'Smartphone', 'Tablet']})
merged_df = pd.merge(df, df2, on='ProductID')
merged_df

   ReviewID  ProductID  CustomerID  Rating ProductName
0       301      201.0           1     5.0      Laptop
1       302      202.0           3     4.0  Smartphone
2       303      203.0           2     3.0      Tablet

In [139]:
np.concatenate([df['Rating'].values, df['CustomerID'].values])

array([ 5.,  4.,  3., nan,  5.,  1.,  3.,  2.,  5.,  4.])

In [140]:
df['Rating+1'] = df['Rating'] + 1 
df

   ReviewID  ProductID  CustomerID  Rating  Rating+1
0       301      201.0           1     5.0       6.0
1       302      202.0           3     4.0       5.0
2       303      203.0           2     3.0       4.0
3       304      204.0           5     NaN       NaN
4       305        NaN           4     5.0       6.0

In [141]:
newdf=df.fillna({
    'Rating':0,
    'Rating+1':1})
newdf

   ReviewID  ProductID  CustomerID  Rating  Rating+1
0       301      201.0           1     5.0       6.0
1       302      202.0           3     4.0       5.0
2       303      203.0           2     3.0       4.0
3       304      204.0           5     0.0       1.0
4       305        NaN           4     5.0       6.0

In [142]:
newdf=df.fillna(method='bfill') #ffill
newdf

C:\Users\laxmi\AppData\Local\Temp\ipykernel_22436\3804769943.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  newdf=df.fillna(method='bfill') #ffill

   ReviewID  ProductID  CustomerID  Rating  Rating+1
0       301      201.0           1     5.0       6.0
1       302      202.0           3     4.0       5.0
2       303      203.0           2     3.0       4.0
3       304      204.0           5     5.0       6.0
4       305        NaN           4     5.0       6.0

In [143]:
grpdf=newdf.groupby("Rating+1")
grpdf